<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <title>sinatra-assets-application123</title>

    <%= stylesheet_tag 'application' %>
    <%= javascript_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js' %>
    <%= javascript_tag 'application' %>
</head>
<body>

    <%= yield %>

</body>
</html>
